@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900');

* {
  box-sizing: border-box;
}
body {
  margin: 24px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
}
button,
input {
  font: inherit;
  letter-spacing: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 370px;
  margin: 0 auto;
}
button {
  height: 40px;
  max-width: 91px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  padding: 8px 16px;
}
input {
  height: 40px;
  max-width: 272px;
  width: calc(100vw - 132px);
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}
input:focus-visible {
  border: 1px solid #808080;
  outline: none;
}
input:hover {
  border: 1px solid #000;
}
input,
input::placeholder {
  color: #2e2f42;
}
@media (pointer: fine) {
  button:hover {
    background: #6c8cff;
  }
}
@media (pointer: coarse) {
  button:active {
    background: #6c8cff;
  }
}
.gallery {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 24px;
}
.gallery-item {
  height: 200px;
  transition: transform 150ms ease-in;
}
.gallery-item:hover {
  transform: scale(1.04);
  transition: transform 150ms ease-in;
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms ease-in;
}
